* {
  margin: 0;
  padding: 0;
}

.box-login {
  width: 100%;
  height: 100vh;
  background: url("https://news.xbox.com/en-us/wp-content/uploads/sites/2/2023/05/Background-size1920x1080-4e1694a6-75aa-4c36-9d4d-7fb6a3102005-bc5318781aad7f5c8520.png")
    no-repeat;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-login {
  border-radius: 10px;
  width: 360px;
  height: 450px;
  padding: 40px 0 0 0;
  background: rgb(0 0 0 / 75%);
  text-align: center;
}

.login-title {
  color: #fff;
  margin-bottom: 20px;
}
.login-email,
.login-password {
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
}

.btn-login {
  background: #e50914;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  width: 260px;
  height: 50px;
}
.btn-signup {
  width: 260px;
  height: 50px;
  background: #e50914;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}
.input-login {
  margin-bottom: 20px;
}
